# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Autotools files
*.cache
*.log
*.status
*.Po
*Makefile
*.in
*.deps/
*.log
*.trs

# vim files
*.swp
~*
*~
un.*

# test image
*image

# for our program
